<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgPtpTg-PYjxzg-D0L_gLNx4qOFyw711s</string>
	<key>GCM_SENDER_ID</key>
	<string>140807982360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.F0de.InstaHram</string>
	<key>PROJECT_ID</key>
	<string>instahram-c50b5</string>
	<key>STORAGE_BUCKET</key>
	<string>instahram-c50b5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140807982360:ios:75c1fff04f13cea9eb226d</string>
	<key>DATABASE_URL</key>
	<string>https://instahram-c50b5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>